<header>
  <h1>{{pageTitle}}</h1>
  <p><a href="/">Home</a></p>
  <p><a href="/about">About</a></p>
  <p><a href="/updation">Updated</a></p>
  <p><a href="/Personal_Information">Personal_Information</a></p>
</header>
