<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Personal Information</title>
  </head>
  <body>
    {{> header}}

    <h2>Personal Information</h2>
	<p>Name: Dhananjay Yadav</p>
	<p>Reg No: 11815313</p>
	<p>Studing in Lovely Professional University</p>
	
  </body>
</html>